{{extend 'layout.html'}}

<h1>Bienvenidos a Capassac</h1>
<p>El presente proyecto de software es una propuesta de solución a los problemas de gestión en ventas para el  “CENTRO DE ACOPIO Y PROCESAMIENTO DE ALIMENTOS SIFUENTES  S.A.C”. Teniendo como propósito minimizar tiempos de atención y reducción de costos operativos, mediante la automatización de sus procesos y generación de información requerida por los gerentes para la toma de decisiones en beneficio de la empresa y de sus clientes</p>
