{{extend 'layout.html'}}

<h2>Objetivos Generales</h2>
<p>Elaborar un sistema empleando tecnologías de información que nos permita optimizar la atención a los clientes  mediante la automatización del proceso de ventas de la corporación CAPAS S.A.C.</p>
<h2>Objetivos Específicos</h2> 
<p>Demostrar que el uso correcto de un sistema ayudará a la empresa  en disminuir tiempo de atención al cliente, y mejorar su calidad del servicio implementando un sistema de ventas.<br>
Informar a los directivos de la empresa las necesidad de adquirir nuevos equipos informáticos. Como también una capacitación adecuada del personal administrativo.<br>
    Poner en práctica todos los conocimientos teóricos brindados por el profesor durante las horas de clases.</p>
